In [26]:
import pandas as pd

In [27]:
df = pd.read_csv("water_potability.csv")

In [28]:
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [29]:
df.shape

(3276, 10)

In [30]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.2)

In [31]:
train.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
2295,NaN,172.111514,26595.373543,8.232252,NaN,348.843576,7.877739,93.302816,3.550311,0
1494,5.289618,194.056393,21776.170174,6.278293,359.099733,353.772930,14.181471,33.592031,4.548100,1
2281,9.228484,200.710330,26744.231526,6.833360,339.820719,363.950991,14.144772,86.950200,4.829754,0
1533,6.715941,218.062384,17180.188184,8.915971,393.275772,349.003070,14.354595,57.247082,2.404729,1
101,7.348845,223.264940,11519.046527,8.889559,NaN,494.158434,18.145374,73.715522,4.880875,0

In [32]:
test.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
2402,NaN,201.572046,15618.135242,6.705211,367.193457,359.952007,10.940975,24.914971,4.575874,1
1528,6.788292,182.036895,25661.360539,6.939853,352.344929,419.895888,11.835382,71.436038,4.255948,1
819,7.374775,217.698644,12285.891483,10.038245,NaN,358.983254,16.293716,93.784380,3.592265,1
348,8.529669,157.700481,18203.730029,8.926826,309.541977,498.650833,12.287824,52.028741,3.776041,1
3083,5.264284,142.534126,25556.053128,6.600787,416.262799,443.759231,7.491362,72.879848,5.100240,0

In [33]:
train.shape

(2620, 10)

In [34]:
test.shape

(656, 10)

In [35]:
train.isnull().sum()

ph                 395
Hardness             0
Solids               0
Chloramines          0
Sulfate            625
Conductivity         0
Organic_carbon       0
Trihalomethanes    130
Turbidity            0
Potability           0
dtype: int64

In [15]:
train.fillna(train.mean(), inplace=True)